In [142]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from scipy.spatial.distance import cdist
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import ConfusionMatrixDisplay, classification_report
from sklearn.preprocessing import StandardScaler

In [143]:
df = pd.read_csv("adult_data.csv")
df.head()
columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 
                       'race', 'sex', 'native-country', 'income']

le = LabelEncoder()

for c in columns:
    df[c] = le.fit_transform(df[c])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0

In [144]:
X = df.drop('income', axis=1)
y = df['income']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=32)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

dtc = tree.DecisionTreeClassifier(max_depth = 7, random_state=32)
dtc = dtc.fit(X_train,y_train)
y_pred = dtc.predict(X_test)

dtc.score(X_test, y_test)

0.8546422356433616

QUIZ

In [145]:
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=32562, n_features=14, n_informative=12, 
                           n_redundant=2, random_state=32)
print(X.shape, y.shape)

(32562, 14) (32562,)

In [146]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression

In [153]:
lr = LogisticRegression()
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=10, random_state=32)
n_scores = cross_val_score(lr, X, y, scoring='accuracy', cv=cv, n_jobs=-1)

mean(n_scores)

0.9071678199817592